<div class="container-list">
    <div class="columns is-variable bd-klmn-columns is-1">
        <button id="upload_widget" class="cloudinary-button">Upload files</button>

        {{!-- Cloudinary upload widget  --}}
        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

        <script type="text/javascript">

        </script>
    </div>
</div>
<!-- Scripts -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/script.js"></script>