<div class="card">
    <img src="img/mememe_tomorrow.gif" id="img-preview" />
    <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;" />
        Select an Image
    </label>
</div>
<!-- Scripts -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/script.js"></script>