<body>

    <div class="content">
        <div>
            <ul>
                {{#each memes}}
                <li><img src="{{this.image_url}}" /></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <footer>
    </footer>
</body>