<div class="container-list">
    <div class="columns ">
        <div class="column is-two-thirds">
            <br />
            <div id="image-container">
                <img src="{{this.image_url}}" alt="" style="display: none;" id="img-src" />
                <canvas width="500" height="500" id="canvas"></canvas>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <span>Top Line:</span><br />
                <input id="topLineText" type="text" /><br />
                <span>Bottom Line:</span><br />
                <input id="bottomLineText" type="text" /><br />
                <button id="saveBtn">Save</button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/memeByIdScript.js">
</script>