body {
  background-color: black;
  height: 100%;
}
.gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-bk-bg {
  background-color: rgb(20, 20, 20);
  margin: 20px 20px;
  padding: 0 20px;
}
.container-list {
  margin: 20px 20px;
  padding: 0;
}
.container-shader {
  height: 500vh;
  background-color: rgb(20, 20, 20);
}
.media-card {
  margin-top: 20px;
  padding: 5px;
  /* background-color: rgba(15, 181, 43, 1) 50%; */
}
.card-content {
  background-color: white;
}
